<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/loja.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Perfil do Usuário(a)</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">


        <div>

          <div class="ion-padding-top ion-text-center">
            <label class="label">
              <input id="uploadPhoto" type="file" accept="image/*" style="display: none"
                (change)="touchCapturandoImg($event)" />
              <img src="\assets\img\barbeiro_indefinido2.png" alt="avatar"
                *ngIf="imagem === ''">
              <img *ngIf="imagem != '' " src="{{imagem}}">
            </label>
            <h2>{{nome}}</h2>

            <ion-list inset>
              <!-- <ion-item (click)="changeUsername()" style="color: #000000">Alterar E-mail</ion-item>
              <ion-item (click)="changePassword()" style="color: #000000">Alterar Senha</ion-item> -->
              <ion-item (click)="support()" style="color: #000000">Suporte</ion-item>
              <ion-item (click)="logout()" style="color: #000000">Sair</ion-item>
            </ion-list>
          </div>

        </div>

      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>