<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/colaborador.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Novos Usuários</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">
        <form #loginForm="ngForm" (ngSubmit)="cadastrarFuncionario(loginForm)" autocomplete="off" class="login-form">
          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-icon name="person-add-outline" slot="start"></ion-icon>
                  <ion-select class="full-width" okText="OK" cancelText="Cancelar" placeholder="Selecione um Perfil"
                    [interfaceOptions]="selecioneUmPerfil" [(ngModel)]="perfil" name="perfil" required>
                    <ion-select-option *ngFor="let perfil of perfis">{{perfil.descricao}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-icon name="map-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Nome Completo" name="nome" id="nome" type="text" required [(ngModel)]="nome">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="mail-outline" slot="start"></ion-icon>
                  <ion-input placeholder="E-mail" name="email" id="email" type="text" required [(ngModel)]="email">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Senha" name="senha" id="senha" type="password" required [(ngModel)]="senha">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Número de Telefone" name="numero" id="numero" type="number" required
                    [(ngModel)]="numero"> </ion-input>
                </ion-item>


                <ion-item>
                  <ion-icon name="storefront-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Empresa" name="empresa" id="empresa" type="text" required
                    [(ngModel)]="empresa"> </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="code-working-outline" slot="start"></ion-icon>
                  <ion-input placeholder="CNPJ / CPF" name="cnpj" id="cnpj" type="number" required [(ngModel)]="cnpj">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="map-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Endereço" name="endereco" id="endereco" type="text" required
                    [(ngModel)]="endereco"> </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="footsteps-outline" slot="start"></ion-icon>
                  <ion-input placeholder="CEEP" name="cep" id="cep" type="number" required [(ngModel)]="cep">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="call-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Telefone Fixo" name="telefoneFixo" id="telefoneFixo" type="number" required
                    [(ngModel)]="telefoneFixo"> </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Telefone Móvel" name="telefoneMovel" id="telefoneMovel" type="number" required
                    [(ngModel)]="telefoneMovel"> </ion-input>
                </ion-item>


              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <ion-button class="submit-btn" fulltype="submit" (click)="cadastrarFuncionario(loginForm)">Cadastrar
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>