<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/loja.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Status de Atividades</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content  padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">

        <ion-card class="ion-no-padding segment-dados">
          <ion-card-header color="facebook">
            <ion-label class="segment-dados-titulo ion-text-uppercase">
              <ion-icon name="cloud-upload-outline"></ion-icon> Status de Atividade Diária
            </ion-label>
          </ion-card-header>

          <ion-list>
            <ion-item *ngIf="statusBarbeiro === true">
              <ion-toggle slot="start" name="statusBarbeiro" checked style="width: 100%;" toggle-class="toggle-positive"
                [ngModel]="statusBarbeiro" (ionChange)="atualizaStatusBarbeiro($event)">
              </ion-toggle>
            </ion-item>

            <ion-item *ngIf="statusBarbeiro === false">
              <ion-toggle slot="start" name="statusBarbeiro" style="width: 100%;" toggle-class="toggle-positive"
                [ngModel]="statusBarbeiro" (ionChange)="atualizaStatusBarbeiro($event)">
              </ion-toggle>
            </ion-item>

            <ion-card-content *ngIf="statusBarbeiro === true">
              <ion-img src="/assets/gif/disponivel.gif" alt="loading..." style="height: 200px;"></ion-img>
              <h3 slot="and">
                <b style="color:rgb(64, 126, 3);">
                  Disponível para Trabalho!
                </b>
              </h3>
            </ion-card-content>

            <ion-card-content *ngIf="statusBarbeiro === false">
              <ion-img src="/assets/gif/indisponivel.gif" alt="loading..." style="height: 200px;"></ion-img>
              <h3 slot="and">
                <b style="color:rgb(126, 7, 3);">
                  Indisponível para Trabalho!
                </b>
              </h3>
            </ion-card-content>

          </ion-list>
        </ion-card>

        <br>

        <ion-card>
          <ion-item>
            <ion-avatar slot="start" *ngIf="sexo === 'Masculino' ">
              <img src="\assets\img\barbeiro_masculino.png" />
            </ion-avatar>

            <ion-avatar slot="start" *ngIf="sexo === 'Feminino' ">
              <img src="\assets\img\barbeiro_feminino.png" />
            </ion-avatar>

            <ion-avatar slot="start" *ngIf="sexo === 'Prefiro Não Dizer'">
              <img src="\assets\img\barbeiro_indefinido.png" />
            </ion-avatar>

            <ion-label>
              <h3 style="color: #0576d0">
                <b> {{nome}}</b>
              </h3>
              <h3 style="color: #e98c00">
                <b>{{email}}</b>
              </h3>
              <p style="font-size: 70%;">
                Unidade - {{unidade}}
              </p>
            </ion-label>
          </ion-item>
        </ion-card>

      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>