<ion-content  scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">
        <form #loginForm="ngForm" (ngSubmit)="cadastrar(loginForm)" autocomplete="off" class="login-form">
          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-icon name="home-outline" slot="start"></ion-icon>
                  <ion-select class="full-width" okText="OK" cancelText="Cancelar" placeholder="Barbearia"
                    [interfaceOptions]="barbearias" [(ngModel)]="unidade" name="unidade" required>
                    <ion-select-option *ngFor="let unidade of unidades">{{unidade.nomeDaUnidade}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-icon name="map-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Nome Completo" name="nome" id="nome" type="text" required [(ngModel)]="nome">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Celular" name="numero" id="numero" type="number" required
                    [(ngModel)]="numero"> </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="mail-outline" slot="start"></ion-icon>
                  <ion-input placeholder="E-mail" name="email" id="email" type="text" required [(ngModel)]="email">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Senha" name="senha" id="senha" type="password" required [(ngModel)]="senha">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Confirmar Senha" name="confirmarSenha" id="confirmarSenha" type="password"
                    required [(ngModel)]="confirmarSenha">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="female-outline" slot="start"></ion-icon>
                  <ion-select class="full-width" okText="OK" cancelText="Cancelar" [interfaceOptions]="sexosSelect"
                    placeholder="Sexo" [(ngModel)]="sexo" name="sexo" required>
                    <ion-select-option *ngFor="let sexos of sexos">{{sexos.descricao}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
                  <ion-input placeholder="WhatsApp" name="whatsapp" id="whatsapp" type="number" [(ngModel)]="whatsapp">
                  </ion-input>
                </ion-item>

                <!-- <ion-item  >
                  <ion-icon name="logo-facebook" slot="start"></ion-icon>
                  <ion-input  placeholder="Facebook" name="facebook" id="facebook" type="text" 
                    [(ngModel)]="facebook"> </ion-input>
                </ion-item>

                <ion-item  >
                  <ion-icon name="logo-instagram" slot="start"></ion-icon>
                  <ion-input placeholder="Instagram" name="instagram" id="instagram" type="text" 
                    [(ngModel)]="instagram"> </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  <ion-input  placeholder="Twitter" name="twitter" id="twitter" type="text" 
                    [(ngModel)]="twitter"> </ion-input>
                </ion-item> -->

              </ion-list>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col>
              <ion-button class="submit-btn" fulltype="submit"  style="right: 30%;">ENTRAR</ion-button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <ion-button class="submit-btn" fulltype="submit" (click)="cadastrar(loginForm)">Cadastrar</ion-button>
              <ion-button class="submit-btn" fulltype="submit" color="warning" (click)="voltar()">Voltar</ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>