<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/colaborador.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Alterar Notificações</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content  padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">
        <form #loginForm="ngForm" (ngSubmit)="atualizaNotificao(loginForm)" autocomplete="off" class="login-form">
          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item class="ion-activated">
                  <ion-icon name="warning" slot="start"></ion-icon>
                  <ion-label>Toda informação aqui pode ser alterada!</ion-label>
                </ion-item>

                <ion-item>
                  <ion-icon name="walk" slot="start"></ion-icon>
                  <ion-label>O cadastro de notificações deverá ser feito somente pelo administrador!</ion-label>
                </ion-item>

                <br>
                <br>

                <ion-item>
                  <ion-icon name="git-compare-outline" slot="start"></ion-icon>
                  <ion-input placeholder="{{tituloNovo}}" name="titulo" id="titulo" type="text" required
                    [(ngModel)]="tituloNovo">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
                  <ion-input placeholder="{{mensagemNovo}}" name="mensagem" id="mensagem" type="text" required
                    [(ngModel)]="mensagemNovo">
                  </ion-input>
                </ion-item>

                <!-- <ion-item>
                  <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Data Inicial da Notificação" name="dataInicial" id="dataInicial" type="date"
                    required [(ngModel)]="dataInicial">
                  </ion-input>
                </ion-item> -->

                <!-- <ion-item>
                  <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Data Final da Notificação" name="dataFinal" id="dataFinal" type="date"
                    required [(ngModel)]="dataFinal">
                  </ion-input>
                </ion-item> -->

              </ion-list>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <ion-button class="submit-btn" fulltype="submit" (click)="atualizaNotificao(loginForm)">Alterar
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab (click)="sair()">
    <ion-fab-button color="facebook">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>