<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/colaborador.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Geração de Vales</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>


<ion-content  scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">

        <div id="dados-pedido-cliente">
          <ion-card>
            <ion-card-content>
              <ion-slides pager="true">


                <!-- SITUAÇÃO FINANCEIRA -->
                <ion-slide id="situacao-financeira" *ngFor="let vale of vales">
                  <div>
                    <ion-item lines="none" slot="start" style="border: none !important;">
                      <ion-icon name="stats-chart-outline"></ion-icon>
                      <ion-label>Vales Efetuados</ion-label>

                      <ion-item lines="none" slot="end" style="border: none !important;">
                        <ion-img style="width: 80px; height: 50px;" src="/assets/gif/gastos.gif" alt="loading...">
                        </ion-img>
                      </ion-item>
                    </ion-item>
                    <ion-grid [style.font-size]="tamanhoDaFonte + 'em'">
                      <div>
                        <ion-row>
                          <ion-col>
                            <ion-label class="fontDownItem">Valor do Vale</ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label class="fontDownItem">Descrição</ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label class="fontDownItem">Data</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-label style="color: #35bd00">
                              <b>{{vale.valorDoVale | currency:'BRL'}}</b>
                            </ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label style="color: #e98c00">
                              <b>{{vale.descricao}}</b>
                            </ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label style="color: #e90000">
                              <b>{{vale.dataDoVale}}</b>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </div>

                      <div>
                        <ion-row>
                          <ion-col>
                            <ion-label class="fontDownItem">Administrador</ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label class="fontDownItem">Colaborador</ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-label class="fontDownItem">Unidade</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <b>
                              <ion-label>
                                {{vale.administrador}}</ion-label>

                            </b>
                          </ion-col>
                          <ion-col>
                            <b>
                              <ion-label>
                                {{vale.colaborador}}</ion-label>
                            </b>
                          </ion-col>
                          <ion-col>
                            <b>
                              <ion-label>
                                {{vale.unidade}}
                              </ion-label>
                            </b>
                          </ion-col>
                        </ion-row>
                      </div>

                      <div>
                        <ion-row>
                          <ion-col style="text-align: end; padding: 0px;">
                            <div (click)="deleteVale()">
                              <img src="assets/img/lixeira.png" style="width: 10%; height: 10%;">
                            </div>
                          </ion-col>
                        </ion-row>
                      </div>

                    </ion-grid>
                  </div>
                </ion-slide>

              </ion-slides>
            </ion-card-content>
          </ion-card>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="cadastrarGastoDoMes(loginForm)" autocomplete="off" class="login-form">
          <ion-row>
            <ion-col>
              <ion-list inset>

                <div>
                  <ion-item>
                    <ion-icon name="people-outline" slot="start"></ion-icon>
                    <ion-select class="full-width" okText="OK" cancelText="Cancelar"
                      placeholder="Selecione um Colaborador" [(ngModel)]="colaborador" name="colaborador" [interfaceOptions]="selecioneUmColaborador">
                      <ion-select-option *ngFor="let colaborador of colaboradores">{{colaborador.nome}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>

                <ion-item>
                  <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Descrição" name="titulo" id="titulo" type="text" required
                    [(ngModel)]="descricao">
                  </ion-input>
                </ion-item>


                <ion-item>
                  <ion-icon name="cash-outline" slot="start"></ion-icon>
                  <ion-input placeholder="Valor R$ 0,00" name="valorDoVale" id="valorDoVale" type="number" required
                    [(ngModel)]="valorDoVale">
                  </ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <ion-button class="submit-btn" fulltype="submit" (click)="cadastrarGastoDoMes(loginForm)">Gerar Vale
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>