<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row *ngIf="!textoDoFiltro" color="light">
      <ion-col size="5" style="font-size: 80%;">
        <ion-input [(ngModel)]="startDate" name="startDate" type="date" color="light">
        </ion-input>
      </ion-col>
      <ion-col size="5" style="font-size: 80%;">
        <ion-input [(ngModel)]="endDate" name="endDate" type="date" color="light">
        </ion-input>
      </ion-col>
      <ion-col size="2" style="text-align: right; font-size: 80%;" (click)="buscaVendasPorData()">
        <!-- <ion-button fill="clear"  block> -->
        <ion-icon name="caret-forward-circle-outline" color="light" style="padding-top: 3px; font-size: 2em;">
        </ion-icon>
        <!-- </ion-button> -->
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content padding class="loginPage" scroll="false">

        <br>

        <div id="segment-dados">
          <div id="dados-pedido-cliente">
            <ion-card>

              <ion-card-header style="background-color:#2474A5; height: 42px; padding-top: 4px;"
                class="ion-text-uppercase">
                <ion-label class="segment-dados-titulo ion-text-uppercase">
                  <ion-icon style="color: white;" name="bag-check-outline"></ion-icon> Fechamento do Caixa
                </ion-label>
              </ion-card-header>

              <ion-row style="background-color: #2d4374; color: white;">
                <ion-col size="10" style="border-right: 0.5px solid; text-align: start; padding-left: 10px;">
                  Relatório Por Período Desejado!
                </ion-col>
                <ion-col size="1" style="text-align: start;">
                  <ion-img style="width: 60px; height: 30px;" src="/assets/gif/gastos.gif" alt="loading...">
                  </ion-img>
                </ion-col>
              </ion-row>
              <div>
                <ion-row>

                  <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #a10159">Gastos com Produtos: {{totalGastosComProdutos | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="bar-chart-outline" style="color: #a10159"></ion-icon>
                  </ion-col>

                  <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #0300a5">Gastos do Mês: {{totalDeGastos | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="bar-chart-outline" style="color: #0300a5"></ion-icon>
                  </ion-col>

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #05a7d0">Fidelidades do Mês: {{totalFidelidade | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="gift-outline" style="color: #05a7d0"></ion-icon>
                  </ion-col> -->

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #0576d0">Comissões Pagas: {{totalComissao | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="podium-outline" style="color: #0576d0"></ion-icon>
                  </ion-col> -->

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b>Gorjetas Pagas: {{totalGorjetas | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </ion-col> -->

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #a57100">Vales Pagos: {{totalVales | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="wallet-outline" style="color: #a57100"></ion-icon>
                  </ion-col> -->

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #0300a5">Descontos Fornecidos: {{totalDescontos | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="backspace-outline" style="color: #0300a5"></ion-icon>
                  </ion-col> -->

                  <!-- <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #80006e">Total Bruto: {{totalBruto | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="checkmark-done-outline" style="color: #80006e"></ion-icon>
                  </ion-col> -->

                  <ion-col size="10" style="text-align: start; padding-left: 10px;">
                    <b style="color: #80006e">Total de Vendas: {{totalBruto | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;">
                    <ion-icon name="cash-outline" style="color: #80006e"></ion-icon>
                  </ion-col>

                  <ion-col size="10" style="text-align: start; padding-left: 10px;" *ngIf="totalLucro > 0">
                    <b style="color: #14a101">Total de Lucros: {{totalLucro | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;" *ngIf="totalLucro > 0">
                    <ion-icon name="thumbs-up-outline" style="color: #14a101"></ion-icon>
                  </ion-col>

                  <ion-col size="10" style="text-align: start; padding-left: 10px;" *ngIf="totalLucro <= 0">
                    <b style="color: #d00505;">Total de Lucros: {{totalLucro | currency: 'BRL'}}</b>
                  </ion-col>

                  <ion-col size="1" style="text-align: start;" *ngIf="totalLucro <= 0">
                    <ion-icon name="thumbs-down-outline" style="color: #d00505;"></ion-icon>
                  </ion-col>

                </ion-row>
              </div>
            </ion-card>

          </div>
        </div>

        <ion-card>
          <ion-card-content>
            <ion-slides pager="true">


              <!-- SITUAÇÃO FINANCEIRA -->
              <ion-slide id="situacao-financeira" *ngFor="let venda of vendas">
                <div>
                  <ion-item lines="none" slot="start" style="border: none !important;">
                    <ion-icon name="card-outline"></ion-icon>
                    <ion-label>Venda Realizada</ion-label>

                    <ion-item lines="none" slot="end" style="border: none !important;">
                      <ion-img style="width: 80px; height: 50px;" src="/assets/gif/relatorio.gif" alt="loading...">
                      </ion-img>
                    </ion-item>
                  </ion-item>
                  <ion-grid [style.font-size]="tamanhoDaFonte + 'em'">
                    <div>
                      <ion-row>
                        <ion-col>
                          <ion-label class="fontDownItem">Total Bruto</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Total Comissão</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Total Líquido</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-label style="color: #0576d0">
                            <b>{{venda.totalBruto | currency:'BRL'}}</b>
                          </ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label style="color: #35bd00">
                            <b>{{venda.totalComissao | currency:'BRL'}}</b>
                          </ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label style="color: #e98c00">
                            <b>{{venda.totalLiquido | currency:'BRL'}}</b>
                          </ion-label>
                        </ion-col>
                      </ion-row>
                    </div>

                    <div>
                      <ion-row>
                        <ion-col>
                          <ion-label class="fontDownItem">Quantidade</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Pagamento</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Cliente</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <b>
                            <ion-label>
                              {{venda.quantidadeVendida}} Quantidade Vendida</ion-label>
                          </b>
                        </ion-col>
                        <ion-col>
                          <b>
                            <ion-label>
                              {{venda.formaDePagamento}}</ion-label>
                          </b>
                        </ion-col>
                        <ion-col>
                          <b>
                            <ion-label>
                              {{venda.cliente}}
                            </ion-label>
                          </b>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div>
                      <ion-row>
                        <ion-col>
                          <ion-label class="fontDownItem">Unidade</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Data Venda</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label class="fontDownItem">Vendedor</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <b>
                            <ion-label>{{venda.unidade}}</ion-label>
                          </b>
                        </ion-col>
                        <ion-col>
                          <b>
                            <ion-label>{{venda.dataVenda}}</ion-label>
                          </b>
                        </ion-col>
                        <ion-col>
                          <b>
                            <ion-label>{{venda.vendedor}}</ion-label>
                          </b>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-grid>
                </div>
              </ion-slide>

            </ion-slides>
          </ion-card-content>
        </ion-card>


</ion-content>