<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">

          <ion-header>
            <ion-item lines="none" color="facebook">
              <ion-avatar slot="start">
                <img *ngIf="imagem === '' && unidade === 'Barbearia Olimpo Gyn'"
                  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                <img *ngIf="imagem != '' && unidade === 'Barbearia Olimpo Gyn'" src="{{imagem}}">
                <img *ngIf="unidade != 'Barbearia Olimpo Gyn' " src="assets/img/logo_branca.png">
              </ion-avatar>
              <ion-label color="light">
                <p class="font12">Usuário: {{nome}}</p>
                <p class="font12">E-mail: {{email}}</p>
                <p class="font12">Unidade: {{unidade}}</p>
                <p class="font12">Perfil: {{perfil}}</p>
              </ion-label>
            </ion-item>
          </ion-header>
        </ion-list>


        <!--------------------------------------------- ADMINISTRADOR ----------------------------------------------------------------------- -->
        <ion-list-header>
          Menu
        </ion-list-header>

        <div>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPagesAdministrador; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>


        <!--------------------------------------------- FINANÇAS DO APLICATIVO ----------------------------------------------------------------------- -->
        <ion-list lines="none">
          <ion-list-header>
            Finanças
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/gastos-do-mes" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="calculator-outline"></ion-icon>
              <ion-label>
                Gastos
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!--------------------------------------------- CADASTROS DO APLICATIVO ----------------------------------------------------------------------- -->
        <ion-list lines="none">
          <ion-list-header>
            Cadastros
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/cadastro-tipo-venda" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="podium-outline"></ion-icon>
              <ion-label>
                Categorias
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/cadastro-tipo-produto" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="barcode-outline"></ion-icon>
              <ion-label>
                Produtos
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="perfil === 'Desenvolvedor'">
            <ion-item routerLink="/cadastro-funcionarios" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="walk-outline"></ion-icon>
              <ion-label>
                Usuários
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="perfil === 'Desenvolvedor'">
            <ion-item routerLink="/cadastro-de-noticias" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
              <ion-label>
                Notificações
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!--------------------------------------------- CONFIGURAÇÕES DO APLICATIVO ----------------------------------------------------------------------- -->
        <ion-list lines="none">
          <ion-list-header>
            Configurações
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="construct-outline"></ion-icon>
              <ion-label>
                Suporte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>
                Perfil
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <p style="font-size: 13px;padding-left: 20px;">Versão Aplicativo 1.1.512</p>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>