<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col style="text-align: center; padding-top: 12px;">
        <b>POSEIDON</b>
        <br>
        <ion-label style="color: #fdfeff; font-size: 10px;"> <b>Usuário - {{nome}}</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-img src="\assets\img\logo_branca.png" style="height: 60px;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">

        <div id="segment-dados">
          <ion-card class="ion-no-padding segment-dados">
            <ion-card-header class="cardHeader">
              <ion-label class="segment-dados-titulo ion-text-uppercase">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Notificações
              </ion-label>
            </ion-card-header>

            <ion-card-content>
              <ion-item-sliding *ngFor="let noticia of noticias">
                <!-- Notificação Vendedor -->
                <div>
                  <div>
                    <ion-item style="padding-top: 10px !important;">
                      <ion-avatar slot="start">
                        <ion-img src="/assets/gif/notificacao.gif" alt="loading..."></ion-img>
                      </ion-avatar>
                      <ion-list>
                        <ion-label style="padding-bottom: 3px;"><b>{{noticia.titulo}}</b></ion-label>
                        <ion-label style="font-size: 12px;">{{noticia.data}}
                        </ion-label>
                        <p>
                          <span
                            style="color:rgb(0, 92, 99); display: flex; font-size: 12px;">{{noticia.mensagem}}</span>
                        </p>
                        <!-- <ion-label style="font-size: 12px;">{{item.mensagem}}</ion-label> -->
                      </ion-list>
                      <ion-icon name="checkmark-done-circle-outline" slot="end" style="color:#2474A5">
                      </ion-icon>
                    </ion-item>
                  </div>
                </div>

                <ion-item-options side="start" class="itemOptionsList" *ngIf="perfil === 'Administrador'">
                  <ion-item-option style="margin: 5px !important" color="warning"
                    (click)="alterarNotificao(noticia.doc, noticia.data, noticia.titulo, noticia.mensagem, noticia.unidade, noticia.administrador)">
                    <ion-icon slot="start" name="cart-outline"></ion-icon>Alterar
                  </ion-item-option>
                </ion-item-options>

                <ion-item-options side="end" class="itemOptionsList" *ngIf="perfil === 'Administrador'">
                  <ion-item-option style="margin: 5px !important" color="danger"
                    (click)="excluirNotificao(noticia.doc)">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>Excluir
                  </ion-item-option>
                </ion-item-options>

              </ion-item-sliding>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="category-block">
          <!-- <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let produto of produtos">
              <div>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>
                      <b style="font-size: 70%;">{{produto.descricao}}</b>
                      -
                      <b style="color: #0576d0; font-size: 70%;">Preço - {{produto.valorDeVenda | currency: 'BRL'}}</b>
                    </ion-card-title>

                    <ion-card-content>
                      <ion-img *ngIf="produto.imagem === '' " src="\assets\img\produto-sem-imagem.png"></ion-img>
                      <ion-img *ngIf="produto.imagem != '' " src="{{produto.imagem}}"></ion-img>
                      <ion-button expand="full" color="success">Oferta {{produto.valorDeVenda | currency: 'BRL'}}</ion-button>
                    </ion-card-content>

                  </ion-card-header>
                </ion-card>
              </div>
            </ion-slide>
          </ion-slides> -->

          <div id="segment-dados">
            <ion-card class="ion-no-padding segment-dados">
              <ion-card-header class="cardHeader">
                <ion-label class="segment-dados-titulo ion-text-uppercase">
                  <ion-icon name="qr-code-outline"></ion-icon> Unidade
                </ion-label>
              </ion-card-header>

              <ion-card-content *ngFor="let unidade of unidades">
                <!-- Notificação Vendedor -->
                <div>
                  <div>
                    <ion-item style="padding-top: 10px !important;">
                      <ion-avatar slot="start">
                        <!-- <ion-img src="\assets\img\unidades.gif" style="display: contents;"></ion-img> -->
                        <ion-img src="/assets/gif/unidades.gif" alt="loading..."></ion-img>
                      </ion-avatar>
                      <ion-list>
                        <ion-label style="padding-bottom: 3px;"><b>{{unidade.nomeDaUnidade}}</b></ion-label>
                        <ion-label style="font-size: 12px;">Proprietário(a) - {{unidade.nomeDoProprietario}}
                        </ion-label>
                        <p>
                          <span
                            style="color:rgb(0, 92, 99); display: flex; font-size: 12px;">{{unidade.enderecoUnidade}}</span>
                        </p>
                        <!-- <ion-label style="font-size: 12px;">{{item.mensagem}}</ion-label> -->
                      </ion-list>
                      <ion-icon name="cellular-outline" slot="end" style="color:#2474A5"></ion-icon>
                    </ion-item>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>

        </div>

      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>