<ion-header>
  <ion-toolbar color="facebook">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item color="facebook">
      <ion-avatar slot="end">
        <ion-img src="/assets/gif/loja.gif" alt="loading...">
        </ion-img>
      </ion-avatar>
      <ion-label style="text-align: center;">
        <h2>Alterar Produto</h2>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content padding class="loginPage" scroll="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-grid class="login-container">

        <ion-card style="top: 1%;">
          <ion-item>
            <ion-avatar slot="start">
              <img *ngIf="imagem === '' " src="\assets\img\cliente_indefinido.png" />
              <img *ngIf="imagem != '' " src="{{produtos.imagem}}" />
            </ion-avatar>

            <ion-label>
              <h3>{{produtos.descricao}}</h3>
              <h3>{{produtos.categoria}}</h3>
              <h3 style="color: #0576d0">
                <b>Custos - {{valorDeCusto | currency: 'BRL'}}</b>
              </h3>
              <h3 style="color: #d00575">
                <b>Estoque - {{estoque}}</b>
              </h3>
              <h3 style="color: #27c400">
                <b>Preço - {{valorDeVenda | currency: 'BRL'}} Oferta!!</b>
              </h3>
            </ion-label>

            <ion-item style="margin-bottom: 15% !important ">
              <ion-avatar slot="start">
                <ion-img style="width: 50px; height: 50x;" src="/assets/gif/promocao.gif" alt="loading...">
                </ion-img>
              </ion-avatar>
            </ion-item>
          </ion-item>
        </ion-card>

        <ion-card class="ion-no-padding ion-padding-bottom" style="border-radius: 10px;">
          <ion-card-content class="ion-no-padding">

            <br>

            <ion-grid [style.font-size]="0.9 + 'em'" color="danger">

              <ion-row>
                <ion-col class="inputColBorder">
                  <ion-label [style.font-size]="0.8 + 'em'">Total</ion-label>
                  <ion-input id="inputTotal" #inputTotal type="number" placeholder="{{totalBruto | currency: 'BRL'}}"
                    [ngModel]=totalBruto>
                  </ion-input>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="inputColBorder">
                  <ion-label [style.font-size]="0.8 + 'em'">Quantidade</ion-label>
                  <ion-input id="inputQuantidade" #inputQuantidade type="number" placeholder="{{quantidadeInserida}}"
                    [ngModel]=quantidadeInserida (ngModelChange)="quantidadeInserida=$event"
                    (keyup)="calculaTotalEven($event);" (input)="setQuantidadeInserida($event.target.value)">
                  </ion-input>
                </ion-col>

                <ion-col class="inputColBorder">
                  <ion-label [style.font-size]="0.8 + 'em'">Desconto</ion-label>
                  <ion-input id="inputDesconto" #inputDesconto type="number"
                    placeholder="{{desconto | currency: 'BRL'}}" [ngModel]=desconto (ngModelChange)="desconto=$event"
                    (keyup)="calculaTotalEven($event);" (input)="setDescontoInserido($event.target.value)">
                  </ion-input>
                </ion-col>
              </ion-row>

            </ion-grid>

            <ion-grid class="grid-detalhe-produto">
              <ion-row class="ion-text-center">
                <ion-col>
                  <ion-label position="fixed">Total Custos</ion-label>
                  <ion-label>
                    <h3 style="color: var(--ion-color-danger)">
                      <b>{{totalDeCusto | currency: 'BRL'}}</b>
                    </h3>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label position="fixed" color="success">Estoque Produto</ion-label>
                  <ion-label>
                    <h3><b>{{estoque}}</b></h3>
                  </ion-label>
                </ion-col>

                <ion-col>
                  <ion-label position="fixed">Total Líquido</ion-label>
                  <ion-label>
                    <h3><b style="color: #e98c00">{{totalLiquido | currency: 'BRL'}}</b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="ion-text-center">
                <ion-col>
                  <ion-label position="fixed">Total Bruto</ion-label>
                  <ion-label>
                    <h3 style="color: #0576d0">
                      <b>{{totalBruto | currency: 'BRL'}}</b>
                    </h3>
                  </ion-label>
                </ion-col>

                <ion-col>
                  <ion-label position="fixed">Estoque Final</ion-label>
                  <ion-label>
                    <h3><b>{{estoqueFinal}}</b></h3>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label position="fixed"><b>Total Lucros</b>
                  </ion-label>
                  <ion-label>
                    <h3><b style="color: #35bd00">{{totalLucro | currency: 'BRL'}}</b></h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button type="submit" class="paddingBtn" expand="block" color="primary"
              (click)="insereDadosTemp(produto, clienteId, fidelidade)">
              <ion-icon slot="start" name="cart-outline"></ion-icon> ATUALIZAR
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-grid>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab (click)="sair()">
    <ion-fab-button color="facebook">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>