<!-- * Div responsavel por exibir a tabela de preço -->
<div style="display: flow-root !important;">
  <p style="text-align: center;" color="danger">Produtos da venda</p>
  <p style="text-align: center; color: tomato;" *ngIf="produtosTemp.length <= 0">Nenhum produto foi encontrado, sinto
    muito!</p>
  <!-- ? Seleciona a tabela de preco -->
  <div>
    <ion-list lines="none" *ngFor="let produto of produtosTemp;">

      <ion-card (click)="touchTabelaEscohida(produto)" style="border-radius: 10px;"
        class="ion-activatable ripple-parent">
        <!-- ? Exibe informação de qual empresa foi selecionada no cabeçalho quando for multiempresa -->
        <div class="mensagem-tabela-preco-fixo">
          <!-- <b>{{produto[0]}}</b> -->
          <ion-avatar slot="start">
            <img *ngIf="produto.imagem === '' " src="\assets\img\cliente_indefinido.png" />
            <img *ngIf="produto.imagem != '' " src="{{produto.imagem}}" />
          </ion-avatar>
        </div>

        <ion-card-content class="ion-no-padding">
          <ion-grid class="grid-detalhe-produto ion-no-padding" style="padding: 2%; font-size: 12px !important">
            <!-- <ion-row class="mensagem-tabela-preco-fixo">
              <ion-label>{{produto[1]}}</ion-label>
            </ion-row> -->
            <ion-row class="ion-text-left">
              <ion-col>
                <ion-label style="color: rgb(20, 113, 220)">
                  <b>{{produto.produto}} </b>
                </ion-label>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-label position="fixed" color="tertiary">
                  <b> {{produto.cliente}}</b>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label position="fixed">Total Bruto</ion-label>
                <div>
                  <ion-badge color="azulmarinho">{{produto.totalBruto | currency:'BRL'}}
                  </ion-badge>
                </div>
                <ion-label position="fixed">Total Líquido</ion-label>
                <div>
                  <ion-badge color="azulmarinho">{{produto.totalLiquido | currency:'BRL'}}
                  </ion-badge>
                </div>
              </ion-col>

              <ion-col class="ion-text-center">
                <ion-label position="fixed">Estoque
                </ion-label>
                <div>
                  <ion-badge *ngIf="produto.estoqueFinal == 0" color="danger">{{produto.estoqueFinal}}
                    UN
                  </ion-badge>
                  <ion-badge *ngIf="produto.estoqueFinal > 0" color="tertiary">{{produto.estoqueFinal}}
                    UN
                  </ion-badge>
                </div>

                <ion-label position="fixed">Total Comissão</ion-label>
                <div>
                  <ion-badge color="azulmarinho">{{produto.totalComissao| currency:'BRL'}}
                  </ion-badge>
                </div>
              </ion-col>

              <ion-col class="ion-text-right">
                <ion-label position="fixed">Quantidade Vendida</ion-label>
                <div>
                  <ion-badge color="tertiary">{{produto.quantidadeVendida}}
                  </ion-badge>
                </div>

                <!-- <ion-label position="fixed">Total Comissão</ion-label>
                <div>
                  <ion-badge color="azulmarinho">{{produto[7] |
                    currency:'BRL'}}
                  </ion-badge>
                </div> -->

                <ion-label position="fixed">Lucro
                </ion-label>
                <div>
                  <ion-badge color="tertiary">{{produto.totalLucro |
                    currency:'BRL'}}</ion-badge>
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="display: block;text-align: center; color: #f44336;">
              <span>Esse produto foi vendido na data: <b>{{produto.dataVenda}}</b> </span>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-list>
  </div>